spring:
  application:
    name: d-sppr-core
  task:
    execution:
      pool:
        core-size: 5
        max-size: 10
        queue-capacity: 100
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
  liquibase:
    default-schema: public
    change-log: classpath:db/changelog-master.xml
  rabbitmq:
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000
          max-interval: 300000
          multiplier: 2.0
        prefetch: 1
springdoc:
  swagger-ui:
    operationsSorter: method
    path: /swagger
    tags-sorter: alpha
  api-docs:
    path: /api-docs

server:
  port: 8999